.backdrop {
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: -100;
}

.space {
  background-image: url("../../assets/stockholm-wallpaper.jpg");
}
