/* *{border: 1px red solid;} */

.App {
  width: 50vw;
  background: transparent;
}

.StrategySelection {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Settings {
  /* border: 2px solid #000000; */
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  /* background-color: rgba(15, 248, 112, 0.5); */
}

@media screen and (min-width:300px) and (max-width:800px) {
  .App {
    width: 98%;
  }
}